<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    <link rel="stylesheet"
          type="text/css"
          href="stylesheets/style.css"/>
</head>
<body>
<center>
    <h1>Spartan Race Graphs</h1>
    <h3>A Spartan race is an obstacle race that is around 3 miles. There are different distances but I chose to focus on the Sprint(3 mile) distance. All races include at least 20 obstacles that are pretty similar. The biggest difference between races are terrain and environmental conditions.</h3>
    <div class="a">
        <p>Here is a map of all of the races that I analyzed results from. You can zoom in to get an idea about how the terrain is for each location</p>
        <iframe width="760" height="675" id="map" src="map" name="targetframe" allowTransparency="true"  frameborder="0" >
        </iframe><br>
        <p>This first graph takes an average time of all the participants in each race and compares them to the other races. Overall Texas had the fastest times and Montana had the slowest.</p>
        <iframe width="760" height="675" id="averageBar" src="averageBar" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
        </iframe><br>
        <p>I also wanted to see how the top 20 participants in each race compared to each other. Overall the results were pretty similar.</p>
        <iframe width="760" height="675" id="topTimesBar" src="topTimesBar" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
        </iframe><br>
        <p>To get an idea on who does these races here is a pie chart with the different age categories. A large majority of the racers are between 20 and 39. The next largest group is 40-49. </p>
        <iframe width="760" height="675" id="agePie" src="agePie" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
        </iframe><br>
        <p>This graph takes the average times for males and females to compare. Overall males were faster at all of the races by about the same margin. </p>
        <iframe width="760" height="675" id="averageMFBar" src="averageMFBar" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
        </iframe><br>
        <p>This scatter plot shows the range of race finish times at the different races elevation. </p>
        <iframe width="760" height="675" id="elevationScatter" src="elevationScatter" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
        </iframe><br>
        <p>This scatter plot shows the range of race finish times at the different humidity levels of each race</p>
        <iframe width="760" height="675" id="humidityScatter" src="humidityScatter" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
        </iframe><br>
        <p>This scatter plot shows the range of race finish times at the different temperatures of each race. </p>
        <iframe width="760" height="675" id="tempScatter" src="tempScatter" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
        </iframe><br>


    </div>
</center>
<br/>


</body>
</html>

