<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

    <style> #map_a9853a3a2bac4969a13fc78c07808e78 {
        position : relative;
        width : 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
    }
    </style>

</head>
<body>

<div class="folium-map" id="map_a9853a3a2bac4969a13fc78c07808e78" ></div>

</body>
<script>



    var bounds = null;


    var map_a9853a3a2bac4969a13fc78c07808e78 = L.map(
            'map_a9853a3a2bac4969a13fc78c07808e78',
            {center: [39.0997,-94.5786],
                zoom: 4,
                maxBounds: bounds,
                layers: [],
                worldCopyJump: false,
                crs: L.CRS.EPSG3857
            });



    var tile_layer_817b175a4f69458782105ab2c268dccb = L.tileLayer(
            'https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg',
            {
                "attribution": null,
                "detectRetina": false,
                "maxZoom": 18,
                "minZoom": 1,
                "noWrap": false,
                "subdomains": "abc"
            }
    ).addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var marker_174cb3f2e2dc4720af5da79cae9a90b6 = L.marker(
            [33.6681,-117.3273],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_7fef7b0177ef430990cfcaa6746cc890 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_174cb3f2e2dc4720af5da79cae9a90b6.setIcon(icon_7fef7b0177ef430990cfcaa6746cc890);


    var popup_dd47481b4fd74a2e9c576222b38c5552 = L.popup({maxWidth: '300'});


    var html_37078f43e3e64307b075e847c78d225e = $('<div id="html_37078f43e3e64307b075e847c78d225e" style="width: 100.0%; height: 100.0%;">California</div>')[0];
    popup_dd47481b4fd74a2e9c576222b38c5552.setContent(html_37078f43e3e64307b075e847c78d225e);


    marker_174cb3f2e2dc4720af5da79cae9a90b6.bindPopup(popup_dd47481b4fd74a2e9c576222b38c5552);





    var marker_709a8b32e9ff41beb35517b9d013e4a6 = L.marker(
            [33.5802,-111.6462],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_829f8406b7054592b2607704768eeec9 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_709a8b32e9ff41beb35517b9d013e4a6.setIcon(icon_829f8406b7054592b2607704768eeec9);


    var popup_4fc760d4a38e4916be9473625bad0478 = L.popup({maxWidth: '300'});


    var html_c54ae503740e4b2fa7782ef6eadf3566 = $('<div id="html_c54ae503740e4b2fa7782ef6eadf3566" style="width: 100.0%; height: 100.0%;">Arizona</div>')[0];
    popup_4fc760d4a38e4916be9473625bad0478.setContent(html_c54ae503740e4b2fa7782ef6eadf3566);


    marker_709a8b32e9ff41beb35517b9d013e4a6.bindPopup(popup_4fc760d4a38e4916be9473625bad0478);





    var marker_fc6eb8a43464415b8da2b42976e974e2 = L.marker(
            [30.0974,-96.0783],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_5522e773551f4b11983830564ae2d058 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_fc6eb8a43464415b8da2b42976e974e2.setIcon(icon_5522e773551f4b11983830564ae2d058);


    var popup_2c55043522164f42a889dcbb9f5a7cb2 = L.popup({maxWidth: '300'});


    var html_ef4dcc11a96341df85733bb12e464a73 = $('<div id="html_ef4dcc11a96341df85733bb12e464a73" style="width: 100.0%; height: 100.0%;">Texas</div>')[0];
    popup_2c55043522164f42a889dcbb9f5a7cb2.setContent(html_ef4dcc11a96341df85733bb12e464a73);


    marker_fc6eb8a43464415b8da2b42976e974e2.bindPopup(popup_2c55043522164f42a889dcbb9f5a7cb2);





    var marker_00a5a0958fae451b93e03bb08bda96a4 = L.marker(
            [33.67129,-83.94149],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_fd14969f42b24d66bf258566e3af26aa = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_00a5a0958fae451b93e03bb08bda96a4.setIcon(icon_fd14969f42b24d66bf258566e3af26aa);


    var popup_148457c2891942ffbe3b2d740318227b = L.popup({maxWidth: '300'});


    var html_4f595b8a6a5a4a528768765a45929fbc = $('<div id="html_4f595b8a6a5a4a528768765a45929fbc" style="width: 100.0%; height: 100.0%;">Georgia</div>')[0];
    popup_148457c2891942ffbe3b2d740318227b.setContent(html_4f595b8a6a5a4a528768765a45929fbc);


    marker_00a5a0958fae451b93e03bb08bda96a4.bindPopup(popup_148457c2891942ffbe3b2d740318227b);





    var marker_95f6906e52534380843d93837dbf07b5 = L.marker(
            [47.8289,-122.0149],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_0721a153349f4bfbb5bd42e231e18e4d = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_95f6906e52534380843d93837dbf07b5.setIcon(icon_0721a153349f4bfbb5bd42e231e18e4d);


    var popup_78f77d47dce74a14bb7b7082dfd6b405 = L.popup({maxWidth: '300'});


    var html_a47854b6feb44e6e9ab178bbf46debfd = $('<div id="html_a47854b6feb44e6e9ab178bbf46debfd" style="width: 100.0%; height: 100.0%;">Washington</div>')[0];
    popup_78f77d47dce74a14bb7b7082dfd6b405.setContent(html_a47854b6feb44e6e9ab178bbf46debfd);


    marker_95f6906e52534380843d93837dbf07b5.bindPopup(popup_78f77d47dce74a14bb7b7082dfd6b405);





    var marker_7ec620bf94c543b384076cc8c274b760 = L.marker(
            [48.0487,-114.0778],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_16f6d14c0ddd41de9d1b4e3c5cae1f93 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_7ec620bf94c543b384076cc8c274b760.setIcon(icon_16f6d14c0ddd41de9d1b4e3c5cae1f93);


    var popup_2b9eb26132954ef0829a0d8848db10fd = L.popup({maxWidth: '300'});


    var html_9374887b91d940a781233a3c7a0d08bb = $('<div id="html_9374887b91d940a781233a3c7a0d08bb" style="width: 100.0%; height: 100.0%;">Montana</div>')[0];
    popup_2b9eb26132954ef0829a0d8848db10fd.setContent(html_9374887b91d940a781233a3c7a0d08bb);


    marker_7ec620bf94c543b384076cc8c274b760.bindPopup(popup_2b9eb26132954ef0829a0d8848db10fd);





    var marker_1b0d5a0d9fa940529f2e716029a1d3d3 = L.marker(
            [39.8984,-81.8274],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_3d99b69ad3bf42a3bce6fc4c28873678 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_1b0d5a0d9fa940529f2e716029a1d3d3.setIcon(icon_3d99b69ad3bf42a3bce6fc4c28873678);


    var popup_5bb16d01f74a469c94084ad65f04d8eb = L.popup({maxWidth: '300'});


    var html_3c3c9d4b0b3d4374ae3e8ae7ea02596e = $('<div id="html_3c3c9d4b0b3d4374ae3e8ae7ea02596e" style="width: 100.0%; height: 100.0%;">Ohio</div>')[0];
    popup_5bb16d01f74a469c94084ad65f04d8eb.setContent(html_3c3c9d4b0b3d4374ae3e8ae7ea02596e);


    marker_1b0d5a0d9fa940529f2e716029a1d3d3.bindPopup(popup_5bb16d01f74a469c94084ad65f04d8eb);





    var marker_6a7de15735924d42a47f9fa57a6eff17 = L.marker(
            [41.3317,-74.1213],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_654e76874a1c410e8e2676e2db5476d8 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_6a7de15735924d42a47f9fa57a6eff17.setIcon(icon_654e76874a1c410e8e2676e2db5476d8);


    var popup_d8ac65e326304c9fa69725cfb3407682 = L.popup({maxWidth: '300'});


    var html_4e44671ab33a48458deac3b44924e9ff = $('<div id="html_4e44671ab33a48458deac3b44924e9ff" style="width: 100.0%; height: 100.0%;">New York</div>')[0];
    popup_d8ac65e326304c9fa69725cfb3407682.setContent(html_4e44671ab33a48458deac3b44924e9ff);


    marker_6a7de15735924d42a47f9fa57a6eff17.bindPopup(popup_d8ac65e326304c9fa69725cfb3407682);





    var marker_a7ae43b0a7494474bbed797fd05481d5 = L.marker(
            [39.4817,-106.0384],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_0e020171c9f44e7190948548f19dca91 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_a7ae43b0a7494474bbed797fd05481d5.setIcon(icon_0e020171c9f44e7190948548f19dca91);


    var popup_602c467f73504cdc96d6966643c71a02 = L.popup({maxWidth: '300'});


    var html_e990164a2c584b92b7eedfbb07348069 = $('<div id="html_e990164a2c584b92b7eedfbb07348069" style="width: 100.0%; height: 100.0%;">Colorado</div>')[0];
    popup_602c467f73504cdc96d6966643c71a02.setContent(html_e990164a2c584b92b7eedfbb07348069);


    marker_a7ae43b0a7494474bbed797fd05481d5.bindPopup(popup_602c467f73504cdc96d6966643c71a02);





    var marker_78cabad964ae47289ab2f2c933f89f26 = L.marker(
            [36.5313,-87.3537],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_91e4e23c8a6c403f854af5557ea1b76a = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_78cabad964ae47289ab2f2c933f89f26.setIcon(icon_91e4e23c8a6c403f854af5557ea1b76a);


    var popup_deda552adc1f43f384e2d9f428594897 = L.popup({maxWidth: '300'});


    var html_70d55be32dff4498ae1cadd99f1d0fe8 = $('<div id="html_70d55be32dff4498ae1cadd99f1d0fe8" style="width: 100.0%; height: 100.0%;">Tennessee</div>')[0];
    popup_deda552adc1f43f384e2d9f428594897.setContent(html_70d55be32dff4498ae1cadd99f1d0fe8);


    marker_78cabad964ae47289ab2f2c933f89f26.bindPopup(popup_deda552adc1f43f384e2d9f428594897);





    var marker_89c0775886754c9ca3a87dfa55d39c01 = L.marker(
            [50.8775,-119.9101],
            {
                icon: new L.Icon.Default()
            }
    )
            .addTo(map_a9853a3a2bac4969a13fc78c07808e78);



    var icon_58ae2577ec3645c2bcd602b965d035e4 = L.AwesomeMarkers.icon({
        icon: 'info-sign',
        iconColor: 'white',
        markerColor: 'red',
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
    });
    marker_89c0775886754c9ca3a87dfa55d39c01.setIcon(icon_58ae2577ec3645c2bcd602b965d035e4);


    var popup_ee1aff6673fc4fac81b0522a05dffc86 = L.popup({maxWidth: '300'});


    var html_71b3b55ebfdb4318906548b73b775cb0 = $('<div id="html_71b3b55ebfdb4318906548b73b775cb0" style="width: 100.0%; height: 100.0%;">British Columbia</div>')[0];
    popup_ee1aff6673fc4fac81b0522a05dffc86.setContent(html_71b3b55ebfdb4318906548b73b775cb0);


    marker_89c0775886754c9ca3a87dfa55d39c01.bindPopup(popup_ee1aff6673fc4fac81b0522a05dffc86);



</script>